* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box {
  height: 100px;
  width: 100px;
  display: inline-block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.bx {
  height: 60px;
  width: 60px;
  display: inline-block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.green {
  background-color: darkseagreen;
}
.red {
  background-color: darksalmon;
}
.grey {
  background-color: darkgray;
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.row {
  display: flex;
}

.demo {
  max-width: 600px;
}
